<section class="py-sectionPadding">
    <div class="container px-4">
        <div
            style="background-image: url('{{ glide:data_url src='/assets/img/crossfit.jpg' quality='75' format='webp' }}')"
            class="bg-[url(../../public/img/crossfit.jpg)] bg-no-repeat bg-top bg-cover flex items-start justify-center rounded-brxl overflow-hidden h-[625px] relative"
        >
            <h1
                class="text-xxl uppercase text-light rounded-b-brxl bg-dark px-6 md:px-24 py-0 text-center invert-border-crossfit hyphens-auto z-9"
            >
                Кроссфит
            </h1>
        </div>

        <div
            class="grid grid-cols-3 md:grid-cols-1 pt-sectionPadding gap-2 hyphens-auto md:hidden"
        >
            <div
                class="h-[1px] bg-main-red col-span-1 self-center md:block"
            ></div>
            <div
                class="uppercase text-light text-lg md:text-xl leading-none col-span-2 text-right"
            >
                весь необходимый
            </div>
            <div
                class="uppercase text-light text-lg md:text-xl leading-none col-span-3 text-right"
            >
                инвентарь
            </div>
            <div
                class="uppercase text-light text-lg md:text-xl leading-none col-span-2 sm:col-span-1"
            >
                отдельная
            </div>
            <div
                class="h-[1px] bg-main-red text-lg col-span-1 sm:col-span-2 self-center md:block"
            ></div>
            <div
                class="uppercase text-light text-lg md:text-xl leading-none col-span-2"
            >
                кроссфит - зона
            </div>
        </div>
        <div
            class="grid-cols-1 md:grid-cols-6 pt-sectionPadding gap-6 hyphens-auto hidden md:grid"
        >
            <div class="uppercase text-light text-xl leading-none col-span-2">
                отдельная
            </div>
            <div
                class="h-[1px] bg-main-red col-span-1 self-center hidden md:block"
            ></div>
            <div
                class="uppercase text-light text-xl leading-none col-span-3 text-right"
            >
                весь необходимый
            </div>
            <div class="uppercase text-light text-xl leading-none col-span-2">
                кроссфит - зона
            </div>
            <div
                class="h-[1px] bg-main-red col-span-2 self-center hidden md:block"
            ></div>
            <div
                class="uppercase text-light text-xl leading-none col-span-2 text-right"
            >
                инвентарь
            </div>
        </div>

        <div class="pt-sectionPadding">
            <a
                href="#"
                class="rounded-brxl bg-main-red w-full py-6 px-4 flex items-center justify-center text-center text-light text-md uppercase transition-all hover:scale-90"
                >тренеры - проффесионалы</a
            >
        </div>
    </div>
</section>

<section class="py-sectionPadding px-4 bg-light">
    <div class="container text-dark">
        <div
            style="background-image: url('{{ glide:data_url src='/assets/img/crossfit-bordered.jpg' quality='75' format='webp' }}')"
            class="bg-[url(/img/crossfit-bordered.jpg)] bg-cover bg-top rounded-brxl overflow-hidden"
        >
            <div class="grid grid-cols-3 grid-rows-2 text-dark min-h-[615px]">
                <div
                    class="self-start bg-light p-4 rounded-br-brxl tblock-rounded text-xl md:text-xxxl col-span-2 row-span-1"
                >
                    КРОССФИТ -
                </div>
                <div class="col-span-1"></div>
                <div class="col-span-1"></div>
                <div
                    class="self-end bg-light p-4 rounded-tl-brxl bblock-rounded row-span-2 col-span-2 text-right text-base md:text-md"
                >
                    вид функциональных тренировок, как правило объединяющий в
                    себе кардионагрузки, гимнастические и силовые упражнения.
                    Одна из главных особенностей кроссфита – прохождение кругов.
                    Проходит в специальной отведенной для этого зоне зала.
                </div>
            </div>
            <!-- <img src="./public/img/crossfit-bordered.jpg" alt="" class=""> -->
        </div>
        <div
            class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-3 gap-4 pt-sectionPadding"
        >
            <div class="col-span-1 text-sm flex flex-col gap-4">
                <div
                    class="flex flex-col relative bg-[#7E2020] rounded-[1em] overflow-hidden"
                >
                    <div
                        class="px-4 py-8 relative gap-4 bg-main-red/80 rounded-b-[1em]"
                    >
                        <h3
                            class="text-light text-lg leading-none uppercase text-center px-4 pt-2 hyphens-auto"
                        >
                            CROSSFIT START
                        </h3>
                    </div>
                    <div class="px-4 py-8">
                        <p
                            class="text-light mb-3 text-sm hyphens-auto leading-[1.6]"
                        >
                            Силовая групповая тренировка, включающая в себя
                            Развитие основных двигательных и физических качеств.
                            Начальный базовый уровень. В тренировку входят
                            базовые упражнения со штангой, гантелями и гирями .
                        </p>

                        <p
                            class="text-light mb-3 text-sm hyphens-auto leading-[1.6]"
                        >
                            Рекомендуется для всех уровней подготовки.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-span-1 text-sm flex flex-col gap-4">
                <div
                    class="flex flex-col relative bg-[#7E2020] rounded-[1em] overflow-hidden"
                >
                    <div
                        class="px-4 py-8 relative gap-4 bg-main-red/80 rounded-b-[1em]"
                    >
                        <h3
                            class="text-light text-lg leading-none uppercase text-center px-4 pt-2 hyphens-auto"
                        >
                            CROSSFIT WORK
                        </h3>
                    </div>
                    <div class="px-4 py-8">
                        <p
                            class="text-light mb-3 text-sm hyphens-auto leading-[1.6]"
                        >
                            высокоинтенсивная, функциональная тренировка,
                            развивающая силу и выносливость. Включает в себя
                            такие стили, как Tabata, EMOM, AMRAP. В программе
                            комбинируются такие виды деятельности, как бег,
                            гребля, прыжки (со скакалкой или на препятствия),
                            лазание по канату, работа со свободными весами
                            (гантели, гири, штанга, медбол), упражнения на
                            турника и прочие.
                        </p>

                        <p
                            class="text-light mb-3 text-sm hyphens-auto leading-[1.6]"
                        >
                            Рекомендуется для среднего уровня подготовки.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-span-1 text-sm flex flex-col gap-4">
                <div
                    class="flex flex-col relative bg-[#7E2020] rounded-[1em] overflow-hidden"
                >
                    <div
                        class="px-4 py-8 relative gap-4 bg-main-red/80 rounded-b-[1em]"
                    >
                        <h3
                            class="text-light text-lg leading-none uppercase text-center px-4 pt-2 hyphens-auto"
                        >
                            CROSSFIT
                        </h3>
                    </div>
                    <div class="px-4 py-8">
                        <p
                            class="text-light mb-3 text-sm hyphens-auto leading-[1.6]"
                        >
                            высокоинтенсивная, функциональная тренировка,
                            развивающая силу и выносливость. Включает в себя
                            такие стили, как Tabata, EMOM, AMRAP. В программе
                            комбинируются такие виды деятельности, как бег,
                            гребля, прыжки (со скакалкой или на препятствия),
                            лазание по канату, работа со свободными весами
                            (гантели, гири, штанга, медбол), упражнения на
                            турника и прочие.
                        </p>

                        <p
                            class="text-light mb-3 text-sm hyphens-auto leading-[1.6]"
                        >
                            Рекомендуется для среднего уровня подготовки.
                        </p>

                        <p
                            class="text-light mb-3 text-sm hyphens-auto leading-[1.6]"
                        >
                            Чтобы записаться онлайн убедитесь, что услуга
                            оплачена. Бронирование доступно за сутки до занятия.
                            Запись закрывается за 4 часа до начала тренировки!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="py-sectionPadding">
    <div class="container px-4">
        <h2 class="text-xxl text-center uppercase mb-5 text-light">
            ищешь сайкл или кроссфит?
        </h2>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4 lg:gap-6">
            <a
                href="#"
                class="rounded-brxl relative group overflow-hidden max-h-80 flex text-light"
            >
                <img
                    src="{{ glide:data_url src='/assets/img/skail.jpg' quality='75' format='webp' }}"
                    alt=""
                    class="group-hover:scale-125 group-hover:opacity-90 transition-all object-cover opacity-35 w-full"
                />
                <div
                    class="flex items-center justify-center absolute bottom-5 right-5 gap-6 text-xxl uppercase group-hover:scale-105 transition-all"
                >
                    сайкл
                    <span
                        class="w-[80px] h-[80px] p-4 rounded-full bg-light flex items-center justify-center"
                    >
                        <svg
                            width="100%"
                            height="100%"
                            viewBox="0 0 42 74"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                        >
                            <path
                                d="M34 31.9911C31.2336 31.9911 28.9911 34.2336 28.9911 37C28.9911 39.7664 31.2336 42.0089 34 42.0089V31.9911ZM40.5419 40.5419C42.498 38.5857 42.498 35.4143 40.5419 33.4581L8.66511 1.58139C6.70899 -0.374729 3.5375 -0.374729 1.58139 1.58139C-0.374729 3.5375 -0.374729 6.70899 1.58139 8.66511L29.9163 37L1.58139 65.3349C-0.374729 67.291 -0.374729 70.4625 1.58139 72.4186C3.5375 74.3747 6.70899 74.3747 8.66511 72.4186L40.5419 40.5419ZM34 42.0089H37V31.9911H34V42.0089Z"
                                fill="#1E1E1E"
                            />
                        </svg>
                    </span>
                </div>
            </a>
            <a
                href="#"
                class="rounded-brxl relative group overflow-hidden max-h-80 flex text-light"
            >
                <img
                    src="{{ glide:data_url src='/assets/img/fitness.jpg' quality='75' format='webp' }}"
                    alt=""
                    class="group-hover:scale-125 group-hover:opacity-90 transition-all object-cover opacity-35 w-full"
                />
                <div
                    class="flex items-center justify-center absolute bottom-5 right-5 gap-6 text-xxl uppercase group-hover:scale-105 transition-all"
                >
                    сайкл
                    <span
                        class="w-[80px] h-[80px] p-4 rounded-full bg-light flex items-center justify-center"
                    >
                        <svg
                            width="100%"
                            height="100%"
                            viewBox="0 0 42 74"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                        >
                            <path
                                d="M34 31.9911C31.2336 31.9911 28.9911 34.2336 28.9911 37C28.9911 39.7664 31.2336 42.0089 34 42.0089V31.9911ZM40.5419 40.5419C42.498 38.5857 42.498 35.4143 40.5419 33.4581L8.66511 1.58139C6.70899 -0.374729 3.5375 -0.374729 1.58139 1.58139C-0.374729 3.5375 -0.374729 6.70899 1.58139 8.66511L29.9163 37L1.58139 65.3349C-0.374729 67.291 -0.374729 70.4625 1.58139 72.4186C3.5375 74.3747 6.70899 74.3747 8.66511 72.4186L40.5419 40.5419ZM34 42.0089H37V31.9911H34V42.0089Z"
                                fill="#1E1E1E"
                            />
                        </svg>
                    </span>
                </div>
            </a>
        </div>
    </div>
</section>

<!-- Форма записи -->

<section class="bg-dark">
    <div
        class="container grid grid-cols-1 items-center px-4 lg:grid-cols-3 gap-y-5 lg:gap-24 py-sectionPadding"
    >
        <div class="col-span-2">
            <h3
                class="text-xxl leading-none uppercase mb-7 text-light max-w-full md:max-w-[60%]"
            >
                ПРОКАЧАЙ СВОЕ ТЕЛО И ДУХ
            </h3>

            <form
                id="contact-form"
                action=""
                method="get"
                class="flex flex-col gap-5"
            >
                <div>
                    <input
                        type="text"
                        placeholder="ИМЯ"
                        class="w-full px-[clamp(0.625rem,0.2636rem+1.6064vw,1.625rem)] py-[clamp(0.5rem,0.3193rem+0.8032vw,1rem)] bg-light rounded-brxl focus:outline-none focus:ring-2 focus:ring-red-600"
                        required
                    />
                </div>
                <div>
                    <input
                        type="tel"
                        placeholder="НОМЕР ТЕЛЕФОНА"
                        class="w-full px-[clamp(0.625rem,0.2636rem+1.6064vw,1.625rem)] py-[clamp(0.5rem,0.3193rem+0.8032vw,1rem)] bg-light rounded-brxl focus:outline-none focus:ring-2 focus:ring-red-600"
                        required
                    />
                </div>
                <button
                    type="submit"
                    class="w-full text-light px-[clamp(0.625rem,0.2636rem+1.6064vw,1.625rem)] py-[clamp(0.5rem,0.3193rem+0.8032vw,1rem)] bg-red-600 hover:bg-red-700 transition rounded-brxl"
                >
                    СТАТЬ БЛИЖЕ К СВОЕЙ ЦЕЛИ
                </button>
                <p class="text-sm text-center text-light">
                    Нажимая "Отправить" я согласен на обработку персональных
                    данных
                </p>
            </form>
        </div>
        <div class="col-span-1">
            <img
                src="{{ glide:data_url src='/assets/img/crossfit-contact-desktop.png' quality='75' format='webp' }}"
                loading="lazy"
                alt=""
                class="block w-full mx-auto rounded-brxl"
            />
        </div>
    </div>
</section>
