    <section class="py-sectionPadding">
        <div class="container px-4">

            <div
                style="background-image: url('{{ glide:data_url src='/assets/img/pool_hero.jpg' quality='75' format='webp' }}')"
                class="bg-[url(/assets/img/pool_hero.jpg)] bg-no-repeat bg-top bg-cover flex items-start justify-center rounded-brxl overflow-hidden h-[625px] relative"
            >
                <h1
                    class="text-xxl uppercase text-light rounded-b-brxl bg-dark px-6 md:px-24 py-0 text-center invert-border-crossfit hyphens-auto z-9"
                >
                    бассейн
                </h1>
            </div>

            <div class="text-light pt-sectionPadding">
                <div class="flex items-center justify-around leading-none">
                    <div class="flex flex-col items-center justify-center">
                        <span
                            class="text-[clamp(3.3125rem,0.805rem+11.1446vw,10.25rem)]"
                            >25</span
                        ><span class="md:text-lg">метров</span>
                    </div>
                    <div class="flex flex-col items-center justify-center">
                        <span
                            class="text-[clamp(3.3125rem,0.805rem+11.1446vw,10.25rem)]"
                            >2.20</span
                        ><span class="md:text-lg">м. глубины</span>
                    </div>
                    <div class="flex flex-col items-center justify-center">
                        <span
                            class="text-[clamp(3.3125rem,0.805rem+11.1446vw,10.25rem)]"
                            >6</span
                        ><span class="md:text-lg">дорожек</span>
                    </div>
                </div>
            </div>

            <div class="pt-sectionPadding">
                <a
                    href="#"
                    class="rounded-brxl bg-main-red w-full py-6 px-4 flex items-center justify-center text-center text-light text-md uppercase transition-all hover:scale-90"
                    >используем Многоступенчатую систему очистки для поддержания
                    идеального состояния воды</a
                >
            </div>
        </div>
    </section>

    <section class="py-sectionPadding px-4 bg-light">
        <div class="container text-dark">
            <div
                style="background-image: url('{{ glide:data_url src='/assets/img/pool_bordered.jpg' quality='75' format='webp' }}')"
                class="bg-[{{ glide src='/assets/img/pool_bordered.jpg' }}] bg-cover bg-top rounded-brxl overflow-hidden"
            >
                <div
                    class="grid grid-cols-3 grid-rows-2 text-dark min-h-[615px]"
                >
                    <div
                        class="self-start bg-light p-4 rounded-br-brxl tblock-rounded text-xl md:text-xxl col-span-2 row-span-1 uppercase"
                    >
                        индивидуальные тренировки -
                    </div>
                    <div class="col-span-1"></div>
                    <div class="col-span-1"></div>
                    <div
                        class="self-end bg-light p-4 rounded-tl-brxl bblock-rounded row-span-2 col-span-2 text-right"
                    >
                        Индивидуальные занятия под руководством
                        профессионального тренера для укрепления здоровья и
                        улучшения физической формы. Подходят для любого уровня
                        подготовки.
                    </div>
                </div>
            </div>

            <div class="pt-sectionPadding">
                <h2
                    class="text-center uppercase text-xxl md:text-xxxl col-span-1 md:col-span-2 lg:col-span-3 xl:col-span-3 leading-none mb-5"
                >
                    групповые тренировки
                </h2>
                <div
                    class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-5"
                >
                    <div class="">
                        <div
                            class="flex flex-col relative bg-[#7E2020] rounded-[1em] overflow-hidden"
                        >
                            <div
                                class="px-4 py-8 relative gap-4 bg-main-red/80 rounded-b-[1em]"
                            >
                                <h3
                                    class="text-light text-lg leading-none uppercase text-center px-4 pt-2 hyphens-auto"
                                >
                                    PRO
                                </h3>
                            </div>
                            <div class="px-4 py-8">
                                <p
                                    class="text-light mb-3 text-sm hyphens-auto leading-[1.6]"
                                >
                                    Групповая тренировка с использованием
                                    аква-гантелей, нудлов и аква-утяжелителей
                                    под динамичную музыку.
                                </p>

                                <p
                                    class="text-light mb-3 text-sm hyphens-auto leading-[1.6]"
                                >
                                    Фокус на мышцы верхней части тела, брюшного
                                    пресса и ног.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="">
                        <div
                            class="flex flex-col relative bg-[#7E2020] rounded-[1em] overflow-hidden"
                        >
                            <div
                                class="px-4 py-8 relative gap-4 bg-main-red/80 rounded-b-[1em]"
                            >
                                <h3
                                    class="text-light text-lg leading-none uppercase text-center px-4 pt-2 hyphens-auto"
                                >
                                    SWIMMING
                                </h3>
                            </div>
                            <div class="px-4 py-8">
                                <p
                                    class="text-light mb-3 text-sm hyphens-auto leading-[1.6]"
                                >
                                    Групповая тренировка для развития техники
                                    плавания и физической формы под руководством
                                    квалифицированного тренера.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="">
                        <div
                            class="flex flex-col relative bg-[#7E2020] rounded-[1em] overflow-hidden"
                        >
                            <div
                                class="px-4 py-8 relative gap-4 bg-main-red/80 rounded-b-[1em]"
                            >
                                <h3
                                    class="text-light text-lg leading-none uppercase text-center px-4 pt-2 hyphens-auto"
                                >
                                    водное поло
                                </h3>
                            </div>
                            <div class="px-4 py-8">
                                <p
                                    class="text-light mb-3 text-sm hyphens-auto leading-[1.6]"
                                >
                                    Групповая тренировка, посвященная игре в
                                    водное поло. Развитие командного
                                    взаимодействия и плавательных навыков.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="">
                        <div
                            class="flex flex-col relative bg-[#7E2020] rounded-[1em] overflow-hidden"
                        >
                            <div
                                class="px-4 py-8 relative gap-4 bg-main-red/80 rounded-b-[1em]"
                            >
                                <h3
                                    class="text-light text-lg leading-none uppercase text-center px-4 pt-2 hyphens-auto"
                                >
                                    ШЕЙПИНГ
                                </h3>
                            </div>
                            <div class="px-4 py-8">
                                <p
                                    class="text-light mb-3 text-sm hyphens-auto leading-[1.6]"
                                >
                                    Аквааэробика для улучшения физической формы
                                    и формирования фигуры. Укрепление мышц и
                                    повышение обмена веществ.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="hidden md:block md:col-span-2 self-center">
                        <img
                            src="{{ glide:data_url src='/assets/img/pool_right_sm.jpg' quality='75' format='webp' }}"
                            alt=""
                            class="object-cover h-auto max-h-48 w-full rounded-brxl"
                        />
                    </div>
                    <div class="self-center">
                        <img
                            src="{{ glide:data_url src='/assets/img/pool_left_sm.jpg' quality='75' format='webp' }}"
                            alt=""
                            class="object-cover h-auto max-h-48 w-full rounded-brxl"
                        />
                    </div>
                    <div class="">
                        <div
                            class="flex flex-col relative bg-[#7E2020] rounded-[1em] overflow-hidden"
                        >
                            <div
                                class="px-4 py-8 relative gap-4 bg-main-red/80 rounded-b-[1em]"
                            >
                                <h3
                                    class="text-light text-lg leading-none uppercase text-center px-4 pt-2 hyphens-auto"
                                >
                                    ГИМНАСТИКА
                                </h3>
                            </div>
                            <div class="px-4 py-8">
                                <p
                                    class="text-light mb-3 text-sm hyphens-auto leading-[1.6]"
                                >
                                    Групповая тренировка для укрепления суставов
                                    и улучшения их гибкости. Сочетает
                                    оздоровительное плавание и специальные
                                    упражнения.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="">
                        <div
                            class="flex flex-col relative bg-[#7E2020] rounded-[1em] overflow-hidden"
                        >
                            <div
                                class="px-4 py-8 relative gap-4 bg-main-red/80 rounded-b-[1em]"
                            >
                                <h3
                                    class="text-light text-lg leading-none uppercase text-center px-4 pt-2 hyphens-auto"
                                >
                                    MIX
                                </h3>
                            </div>
                            <div class="px-4 py-8">
                                <p
                                    class="text-light mb-3 text-sm hyphens-auto leading-[1.6]"
                                >
                                    Динамичная высокоинтенсивная тренировка,
                                    сочетающая аквааэробику и специальные
                                    упражнения для всех групп мышц.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="">
                        <div
                            class="flex flex-col relative bg-[#7E2020] rounded-[1em] overflow-hidden"
                        >
                            <div
                                class="px-4 py-8 relative gap-4 bg-main-red/80 rounded-b-[1em]"
                            >
                                <h3
                                    class="text-light text-lg leading-none uppercase text-center px-4 pt-2 hyphens-auto"
                                >
                                    ПЛАВАНИЕ В ЛАСТАХ
                                </h3>
                            </div>
                            <div class="px-4 py-8">
                                <p
                                    class="text-light mb-3 text-sm hyphens-auto leading-[1.6]"
                                >
                                    Тренировка с ластами для увеличения нагрузки
                                    на мышцы, улучшения выносливости и
                                    сердечно-сосудистой системы.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="">
                        <div
                            class="flex flex-col relative bg-[#7E2020] rounded-[1em] overflow-hidden"
                        >
                            <div
                                class="px-4 py-8 relative gap-4 bg-main-red/80 rounded-b-[1em]"
                            >
                                <h3
                                    class="text-light text-lg leading-none uppercase text-center px-4 pt-2 hyphens-auto"
                                >
                                    NOODLES / DUMBBELLS
                                </h3>
                            </div>
                            <div class="px-4 py-8">
                                <p
                                    class="text-light mb-3 text-sm hyphens-auto leading-[1.6]"
                                >
                                    Тренировка для развития координации и
                                    укрепления стабилизаторов с использованием
                                    аква-нудлов и специальных гантелей.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="">
                        <div
                            class="flex flex-col relative bg-[#7E2020] rounded-[1em] overflow-hidden"
                        >
                            <div
                                class="px-4 py-8 relative gap-4 bg-main-red/80 rounded-b-[1em]"
                            >
                                <h3
                                    class="text-light text-lg leading-none uppercase text-center px-4 pt-2 hyphens-auto"
                                >
                                    ТЕХНИКА ПЛАВАНИЯ
                                </h3>
                            </div>
                            <div class="px-4 py-8">
                                <p
                                    class="text-light mb-3 text-sm hyphens-auto leading-[1.6]"
                                >
                                    Мастер-класс по совершенствованию техники
                                    плавания различных стилей с индивидуальными
                                    рекомендациями.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Расписание pool-schedule.png-->
    <section id="schedule" class="py-sectionPadding bg-light text-light px-4">
        <div
            style="background-image: url('{{ glide:data_url src='/assets/img/pool-schedule.png' quality='75' format='webp' }}')"
            class="container bg-[{{ glide src='/assets/img/pool-schedule.png' }}] bg-no-repeat bg-cover bg-center py-[clamp(1rem,0.3675rem+2.8112vw,2.75rem)] px-4 lg:px-14 rounded-[clamp(0.875rem,0.1295rem+3.3133vw,2.9375rem)]"
        >
            <h3
                class="uppercase text-center text-[clamp(0.625rem,-0.0075rem+2.8112vw,2.375rem)] mb-[clamp(1.1875rem,1.0294rem+0.7028vw,1.625rem)]"
            >
                свободное посещение бассейна
            </h3>
            <div
                class="grid grid-cols-1 lg:grid-cols-4 gap-0 lg:gap-3 justify-around text-center lg:text-left"
            >
                <div
                    class="col-span-2 text-[clamp(1.1875rem,0.7583rem+1.9076vw,2.375rem)]"
                >
                    понедельник - пятница
                </div>
                <div
                    class="col-span-1 relative items-center justify-center before:absolute before:h-[1px] before:bg-light before:w-full hidden lg:flex"
                ></div>
                <div
                    class="col-span-1 text-[clamp(1rem,0.503rem+2.2088vw,2.375rem)]"
                >
                    с 07:00 до 22:30
                </div>
            </div>

            <div
                class="h-[1px] bg-light w-full max-w-[83px] mx-auto my-2 lg:hidden"
            ></div>

            <div
                class="grid grid-cols-1 lg:grid-cols-4 gap-0 lg:gap-3 justify-around text-center lg:text-left"
            >
                <div
                    class="col-span-1 text-[clamp(1.1875rem,0.7583rem+1.9076vw,2.375rem)]"
                >
                    выходные
                </div>
                <div
                    class="col-span-2 relative items-center justify-center before:absolute before:h-[1px] before:bg-light before:w-full hidden lg:flex"
                ></div>
                <div
                    class="col-span-1 text-[clamp(1rem,0.503rem+2.2088vw,2.375rem)]"
                >
                    с 08:00 до 21:30
                </div>
            </div>
        </div>
    </section>

    <!-- Форма записи -->

    <section class="bg-dark">
        <div
            class="container grid grid-cols-1 items-center px-4 lg:grid-cols-3 gap-y-5 lg:gap-24 py-sectionPadding"
        >
            <div class="col-span-2">
                <h3
                    class="text-xxl leading-none uppercase mb-7 text-light max-w-full md:max-w-[60%]"
                >
                    ЛУЧШИЙ БАССЕН ГОРОДА ЖДЕТ ТЕБЯ
                </h3>

                <form
                    id="contact-form"
                    action=""
                    method="get"
                    class="flex flex-col gap-5"
                >
                    <div>
                        <input
                            type="text"
                            placeholder="ИМЯ"
                            class="w-full px-[clamp(0.625rem,0.2636rem+1.6064vw,1.625rem)] py-[clamp(0.5rem,0.3193rem+0.8032vw,1rem)] bg-light rounded-brxl focus:outline-none focus:ring-2 focus:ring-red-600"
                            required
                        />
                    </div>
                    <div>
                        <input
                            type="tel"
                            placeholder="НОМЕР ТЕЛЕФОНА"
                            class="w-full px-[clamp(0.625rem,0.2636rem+1.6064vw,1.625rem)] py-[clamp(0.5rem,0.3193rem+0.8032vw,1rem)] bg-light rounded-brxl focus:outline-none focus:ring-2 focus:ring-red-600"
                            required
                        />
                    </div>
                    <button
                        type="submit"
                        class="w-full text-light px-[clamp(0.625rem,0.2636rem+1.6064vw,1.625rem)] py-[clamp(0.5rem,0.3193rem+0.8032vw,1rem)] bg-red-600 hover:bg-red-700 transition rounded-brxl"
                    >
                        СТАТЬ БЛИЖЕ К СВОЕЙ ЦЕЛИ
                    </button>
                    <p class="text-sm text-center text-light">
                        Нажимая "Отправить" я согласен на обработку персональных
                        данных
                    </p>
                </form>
            </div>
            <div class="col-span-1">
                <img
                    src="{{ glide:data_url src='/assets/img/pool-contact.png' quality='75' format='webp' }}"
                    alt=""
                    class="block w-full mx-auto rounded-brxl"
                />
            </div>
        </div>
    </section>
