<section class="py-sectionPadding">
    <div class="container px-4">
        <div
            style="background-image: url('{{ pool_image_1 }}')"
            class="bg-no-repeat bg-top bg-cover flex items-start justify-center rounded-brxl overflow-hidden h-[625px] relative"
        >
            <h1
                class="text-lg md:text-xxl uppercase text-light rounded-b-brxl bg-dark px-4 md:px-24 py-0 text-center invert-border-crossfit hyphens-auto z-9"
            >
                {{ first_section_title }}
            </h1>
        </div>

        <div class="text-light pt-sectionPadding">
            <div class="flex items-center justify-around leading-none">
                <div class="flex flex-col items-center justify-center">
                    <span
                        class="text-xxxl lg:text-[clamp(3.3125rem,0.805rem+11.1446vw,10.25rem)]"
                        data-aos="zoom-in"
                        >{{ metry }}</span
                    >
                    <span class="md:text-lg" data-aos="zoom-out">метров</span>
                </div>
                <div class="flex flex-col items-center justify-center">
                    <span
                        class="text-xxxl lg:text-[clamp(3.3125rem,0.805rem+11.1446vw,10.25rem)]"
                        data-aos="zoom-in"
                        >{{ glubina }}</span
                    >
                    <span class="md:text-lg" data-aos="zoom-out"
                        >м. глубины</span
                    >
                </div>
                <div class="flex flex-col items-center justify-center">
                    <span
                        class="text-xxxl lg:text-[clamp(3.3125rem,0.805rem+11.1446vw,10.25rem)]"
                        data-aos="zoom-in"
                        >{{ dorozhek }}</span
                    >
                    <span class="md:text-lg" data-aos="zoom-out">дорожек</span>
                </div>
            </div>
        </div>

        <div class="pt-sectionPadding">
            <a
                href="#"
                data-aos="zoom-in"
                class="rounded-brxl bg-main-red w-full py-6 px-4 flex items-center justify-center text-center text-light text-base md:text-md uppercase transition-all hover:scale-90"
            >
                {{ knopka_tekst }}
            </a>
        </div>
    </div>
</section>

<section class="py-sectionPadding px-4 bg-light">
    <div class="container text-dark">
        <div
            style="background-image: url('{{ glide:kartinka quality='75' format='webp' }}')"
            class="bg-cover bg-top rounded-brxl overflow-hidden"
        >
            <div class="grid grid-cols-3 grid-rows-2 text-dark min-h-[615px]">
                <div
                    class="self-start bg-light p-4 rounded-br-brxl tblock-rounded text-base md:text-xxl col-span-2 row-span-1"
                >
                    <span data-aos="zoom-in">{{ second_section_title }}</span>
                </div>
                <div class="col-span-1"></div>
                <div class="col-span-1"></div>
                <div
                    class="self-end bg-light p-4 rounded-tl-brxl bblock-rounded row-span-2 col-span-2 text-right text-sm md:text-base"
                    data-aos="zoom-in"
                >
                    {{ tekst_opisanie }}
                </div>
            </div>
        </div>

        <div class="pt-sectionPadding">
            <h2
                class="uppercase text-lg md:text-xxl flex justify-center items-center font-normal px-4 lg:px-0 text-black mb-6 leading-[1]"
                data-aos="zoom-in"
            >
                {{ gruppovye_zagolovok }}
            </h2>
            <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-5">
                {{ gruppovye_bloki scope="block" limit="4" }}
                <div class="">
                    <div
                        class="flex flex-col relative bg-[#7E2020] rounded-[1em] overflow-hidden"
                        data-aos="zoom-in"
                    >
                        <div
                            class="px-4 py-8 relative gap-4 bg-main-red/80 rounded-b-[1em]"
                        >
                            <h3
                                class="text-light text-lg leading-none uppercase text-center px-4 pt-2 hyphens-auto"
                            >
                                {{ block:second_blok_zagolovok }}
                            </h3>
                        </div>
                        <div class="px-4 py-8">
                            <p
                                class="text-light mb-3 text-sm hyphens-auto leading-[1.6]"
                            >
                                {{ block:blok_opisanie }}
                            </p>
                        </div>
                    </div>
                </div>
                {{ /gruppovye_bloki }}

                <div
                    class="hidden md:block md:col-span-2 self-center"
                    data-aos="zoom-in"
                >
                    <img
                        src="{{ glide:data_url src='/assets/img/pool_right_sm.jpg' quality='75' format='webp' }}"
                        alt=""
                        class="object-cover h-auto max-h-48 w-full rounded-brxl"
                    />
                </div>
                <div class="self-center" data-aos="zoom-in">
                    <img
                        src="{{ glide:data_url src='/assets/img/pool_left_sm.jpg' quality='75' format='webp' }}"
                        alt=""
                        class="object-cover h-auto max-h-48 w-full rounded-brxl"
                    />
                </div>

                {{ gruppovye_bloki scope="block" offset="4" }}
                <div class="">
                    <div
                        class="flex flex-col relative bg-[#7E2020] rounded-[1em] overflow-hidden"
                        data-aos="zoom-in"
                    >
                        <div
                            class="px-4 py-8 relative gap-4 bg-main-red/80 rounded-b-[1em]"
                        >
                            <h3
                                class="text-light text-lg leading-none uppercase text-center px-4 pt-2 hyphens-auto"
                            >
                                {{ block:second_blok_zagolovok }}
                            </h3>
                        </div>
                        <div class="px-4 py-8">
                            <p
                                class="text-light mb-3 text-sm hyphens-auto leading-[1.6]"
                            >
                                {{ block:blok_opisanie }}
                            </p>
                        </div>
                    </div>
                </div>
                {{ /gruppovye_bloki }}
            </div>
        </div>
    </div>
</section>

<section id="schedule" class="py-sectionPadding bg-light text-light px-4">
    <div
        style="background-image: url('{{ glide:raspisanie_bg quality='75' format='webp' }}')"
        class="container bg-no-repeat bg-cover bg-center py-[clamp(1rem,0.3675rem+2.8112vw,2.75rem)] px-4 lg:px-14 rounded-[clamp(0.875rem,0.1295rem+3.3133vw,2.9375rem)]"
    >
        <h3
            class="uppercase text-center text-[clamp(0.625rem,-0.0075rem+2.8112vw,2.375rem)] mb-[clamp(1.1875rem,1.0294rem+0.7028vw,1.625rem)]"
        >
            {{ raspisanie_title }}
        </h3>

        {{ pn_pt scope="block" }}
        <div
            class="grid grid-cols-1 lg:grid-cols-4 gap-0 lg:gap-3 justify-around text-center lg:text-left"
        >
            <div
                class="col-span-2 text-[clamp(1.1875rem,0.7583rem+1.9076vw,2.375rem)]"
            >
                {{ block:raspisanie_block_title }}
            </div>
            <div
                class="col-span-1 relative items-center justify-center before:absolute before:h-[1px] before:bg-light before:w-full hidden lg:flex"
            ></div>
            <div
                class="col-span-1 text-[clamp(1rem,0.503rem+2.2088vw,2.375rem)]"
            >
                {{ block:vremya }}
            </div>
        </div>
        <div
            class="h-[1px] bg-light w-full max-w-[83px] mx-auto my-2 lg:hidden"
        ></div>
        {{ /pn_pt }}
    </div>
</section>

<section class="bg-dark">
    <div
        class="container grid grid-cols-1 items-center px-4 lg:grid-cols-3 gap-y-5 lg:gap-24 py-sectionPadding"
    >
        <div class="col-span-2">
            <h3
                class="text-xl md:text-xxl leading-none uppercase mb-7 text-light max-w-full md:max-w-[60%]"
                data-aos="zoom-in"
            >
                {{ form_title }}
            </h3>

            <div class="" data-aos="fade-in" data-aos-delay="1000">
                {{ csrf_field }}
                <form id="mainContactForm">
                    <div>
                        <input type="text" id="name" name="name" autocomplete="name" placeholder="ИМЯ"
                            class="w-full px-[clamp(0.625rem,0.2636rem+1.6064vw,1.625rem)] py-[clamp(0.5rem,0.3193rem+0.8032vw,1rem)] bg-light rounded-brxl focus:outline-none focus:ring-2 focus:ring-red-600"
                            required />
                    </div>
                    <div>
                        <input type="tel" id="phone" name="phone" autocomplete="tel" placeholder="НОМЕР ТЕЛЕФОНА"
                            class="w-full px-[clamp(0.625rem,0.2636rem+1.6064vw,1.625rem)] py-[clamp(0.5rem,0.3193rem+0.8032vw,1rem)] bg-light rounded-brxl focus:outline-none focus:ring-2 focus:ring-red-600 my-2"
                            required />
                    </div>
                    <button type="submit"
                        class="w-full text-light px-[clamp(0.625rem,0.2636rem+1.6064vw,1.625rem)] py-[clamp(0.5rem,0.3193rem+0.8032vw,1rem)] bg-red-600 hover:bg-red-700 transition rounded-brxl">
                        СТАТЬ БЛИЖЕ К СВОЕЙ ЦЕЛИ
                    </button>
                    <p class="text-sm text-center text-light">
                        Нажимая "Отправить" я согласен на обработку персональных данных
                    </p>

                    <!-- Индикатор состояния -->
                    <div id="formStatus" class="mt-4 p-4 rounded-lg hidden">
                        <p class="text-center"></p>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-span-1" data-aos="zoom-in">
            <img
                src="{{ glide:data_url src='/assets/img/pool-contact.png' quality='75' format='webp' }}"
                alt=""
                class="block w-full mx-auto rounded-brxl"
            />
        </div>
        <!-- Индикатор состояния -->
        <div id="formStatus" class="mt-4 p-4 rounded-lg hidden">
            <p class="text-center"></p>
        </div>
    </div>
</section>
