<section class="py-sectionPadding">
    <div class="container px-4">
        <div style="background-image: url('{{ glide:data_url src='/assets/img/direction-6.jpg' quality='75' format='webp' }}')"
            class="bg-no-repeat bg-[0] bg-cover flex items-start justify-center rounded-brxl overflow-hidden h-[625px] relative">
            <h1
                class="text-lg md:text-xxl uppercase text-light rounded-b-brxl bg-dark px-6 md:px-24 py-0 text-center invert-border-crossfit hyphens-auto z-9">
                TEST
            </h1>
        </div>
    </div>
</section>
