<!-- <section class="py-sectionPadding">
    <div class="container px-4">
        <div style="background-image: url('{{ glide:data_url src='/assets/img/direction-6.jpg' quality='75' format='webp' }}')"
            class="bg-no-repeat bg-[0] bg-cover flex items-start justify-center rounded-brxl overflow-hidden h-[625px] relative">
            <h1
                class="text-lg md:text-xxl uppercase text-light rounded-b-brxl bg-dark px-6 md:px-24 py-0 text-center invert-border-crossfit hyphens-auto z-9">
                TEST
            </h1>
        </div>
    </div>
</section> -->
<!-- <section class="py-sectionPadding">
    <div class="container px-4">
        {{ if tipovaya_image }}
        <div
            style="background-image: url('{{ glide:data_url src=tipovaya_image quality='75' format='webp' }}');"
            class="bg-no-repeat bg-cover w-full h-[625px] {{ tipovaya_image ? '' : 'bg-gray-500 rounded-brxl' }}"
        ></div>
        {{ /if }}
        <h1 class="text-lg md:text-xxl uppercase text-light mt-4">
            {{ title }}
        </h1>
        <p class="text-light mt-2">{{ tipovaya_text }}</p>
    </div>
</section> -->
<section class="py-sectionPadding markdown-content">
    <div class="container px-4">
        {{ if tipovaya_image }}
        <div
            style="background-image: url('{{ glide:data_url src=tipovaya_image quality='75' format='webp' }}');"
            class="bg-no-repeat bg-cover w-full h-[625px] {{ tipovaya_image ? '' : 'bg-gray-500 rounded-brxl' }}"></div>
        {{ /if }}
        <h1 class="text-lg md:text-xxl uppercase text-light mt-4">
            {{ title }}
        </h1>
        {{ if tipovaya_markdown }}
        <div class="text-light mt-2">{{ tipovaya_markdown }}</div>
        {{ elseif tipovaya_html }}
        <div class="text-light mt-2">{{ tipovaya_html }}</div>
        {{ else }}
        <div class="text-light mt-2">{{ tipovaya_text }}</div>
        {{ /if }}

        {{ if custom_html_script }}
        {{!! custom_html_script !!}}
        {{ /if }}
    </div>
</section>
