@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This is all you. */

@font-face {
    font-family: 'Gothic No60';
    src: url('..//fonts/Gothic60-Regular.woff2') format('woff2'),
      url('/fonts/Gothic60-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }



  *,
  *::after,
  *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    /* outline: 1px solid tomato; */
  }

  html,
  body {
    /* font-family: 'Gothic No60'; */
  }

  .container {
    max-width: 1365px;
  }

  .arrow-bg {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    span {
      flex: 0 0 auto;
      margin-inline: 20px;
    }

    &::before {
      content: '';
      background-image: url("data:image/svg+xml,%3Csvg width='307' height='2' viewBox='0 0 307 2' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cline y1='1.06228' x2='307' y2='1.06228' stroke='white' stroke-width='1.87544'/%3E%3C/svg%3E%0A");
      background-repeat: no-repeat;
      background-position: 0 0;
      width: 100%;
      max-width: 307px;
      height: 2px;
      display: block;
    }

    &::after {
      content: '';
      background-image: url("data:image/svg+xml,%3Csvg width='312' height='14' viewBox='0 0 312 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M311.663 7.66309C312.029 7.29689 312.029 6.70316 311.663 6.33696L305.695 0.369351C305.329 0.00314944 304.736 0.0031494 304.369 0.369351C304.003 0.735553 304.003 1.32928 304.369 1.69549L309.674 7.00002L304.369 12.3046C304.003 12.6708 304.003 13.2645 304.369 13.6307C304.736 13.9969 305.329 13.9969 305.695 13.6307L311.663 7.66309ZM-7.30158e-08 7.93772L311 7.93774L311 6.06231L7.30158e-08 6.06228L-7.30158e-08 7.93772Z' fill='white'/%3E%3C/svg%3E%0A");
      background-repeat: no-repeat;
      background-position: 0 0;
      width: 100%;
      height: 14px;
      display: block;
    }
  }

  .flip_card {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2em;

    >.front,
    >.back {
      display: block;
      transition-timing-function: cubic-bezier(.175, .885, .32, 1.275);
      transition-duration: .5s;
      transition-property: transform, opacity;
      height: 592px;
      display: block;
    }

    >.front {
      transform: rotateY(0deg);
    }

    >.back {
      position: absolute;
      opacity: 0;
      top: 0px;
      left: 0px;
      max-width: 100%;
      height: 100%;
      transform: rotateY(-180deg);
    }

    &:hover {
      >.front {
        transform: rotateY(180deg);
      }

      >.back {
        opacity: 1;
        transform: rotateY(0deg);
      }
    }

    &.flip-vertical {
      >.back {
        transform: rotateX(-180deg);
      }

      &:hover {
        >.front {
          transform: rotateX(180deg);
        }

        >.back {
          transform: rotateX(0deg);
        }
      }
    }
  }

  .swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .light-line {

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      height: 84px;
      background: #FFF8F8;
    }
  }

  .aboniment-block {
    display: grid;
    grid-template-columns: auto minmax(100px, 1365px) auto;
    align-items: start;

    .left-line {
      background: #FFF8F8;
      height: 60px;
      border-radius: 0 0 30px 0;
    }


    .right-line {
      background: #FFF8F8;
      height: 60px;
      /* border-radius: 0 0 0 30px; */
    }
  }

  .dialog-glass {
    background: rgba(255, 255, 255, 0.17);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.8px);
    -webkit-backdrop-filter: blur(8.8px);

  }

  dialog {
    animation: fade-out 0.3s ease-out;
    margin: auto;
  }

  dialog[open] {
    animation: fade-in 0.3s ease-out;
  }

  dialog[open]::backdrop {
    animation: backdrop-fade-in 0.3s ease-out forwards;
  }

  /* Animation keyframes */

  @keyframes fade-in {
    0% {
      opacity: 0;
      transform: scaleY(0);
      display: none;
    }

    100% {
      opacity: 1;
      transform: scaleY(1);
      display: block;
    }
  }

  @keyframes fade-out {
    0% {
      opacity: 1;
      transform: scaleY(1);
      display: block;
    }

    100% {
      opacity: 0;
      transform: scaleY(0);
      display: none;
    }
  }

  @keyframes backdrop-fade-in {
    0% {
      background-color: rgb(0 0 0 / 0%);
    }

    100% {
      background-color: rgb(0 0 0 / 60%);
    }
  }
