<section class="py-sectionPadding markdown-content">
    <div class="container px-4">
        <div style="background-image: url('{{ glide:data_url src='/assets/img/hall_hero.jpg' quality='75' format='webp' }}')"
            class="bg-no-repeat bg-top bg-cover flex items-start justify-center rounded-brxl overflow-hidden h-[625px] relative">
            <h1
                class="text-lg md:text-xxl uppercase text-light rounded-b-brxl bg-dark px-4 md:px-24 py-0 text-center invert-border-crossfit hyphens-auto z-9">
                тренажерный зал
            </h1>
        </div>

        <div class="text-light pt-sectionPadding">
            <div class="flex items-center justify-around leading-none">
                <div class="flex flex-col items-center justify-center">
                    <span class="text-xxxl lg:text-[clamp(3.3125rem,0.805rem+11.1446vw,10.25rem)]"
                        data-aos="zoom-in">1700 </span><span class="md:text-lg" data-aos="zoom-out">кв.метров</span>
                </div>
                <div class="flex flex-col items-center justify-center">
                    <span class="text-xxxl lg:text-[clamp(3.3125rem,0.805rem+11.1446vw,10.25rem)]"
                        data-aos="zoom-in">100+</span><span class="md:text-lg" data-aos="zoom-out">ТРЕНАЖЕРОВ</span>
                </div>
            </div>
        </div>

        <div class="pt-sectionPadding">
            <a href="#"
                class="rounded-brxl bg-main-red w-full py-6 px-4 flex items-center justify-center text-center text-light text-base md:text-md uppercase transition-all hover:scale-90"
                data-aos="zoom-in">Самый
                крупный в республике Крым полноформатный фитнес клуб</a>
        </div>
    </div>
</section>

<section class="py-sectionPadding px-4 bg-light">
    <div class="container text-dark">
        <div style="background-image: url('{{ glide:data_url src='/assets/img/hall_bordered.jpg' quality='75' format='webp' }}')"
            class="bg-cover bg-top rounded-brxl overflow-hidden">
            <div class="grid grid-cols-3 grid-rows-2 text-dark min-h-[615px]">
                <div
                    class="self-start bg-light p-4 rounded-br-brxl tblock-rounded text-base md:text-xxl col-span-2 row-span-1">
                    <span data-aos="zoom-in">
                        тренажерный зал
                    </span>
                </div>
                <div class="col-span-1"></div>
                <div class="col-span-1"></div>
                <div class="self-end bg-light p-4 rounded-tl-brxl bblock-rounded row-span-2 col-span-2 text-right text-sm md:text-base "
                    data-aos="zoom-in">
                     На площади в 1700 кв.м стоит более 100 современных
                    тренажеров. В кардиозоне – тренажеры Technogym с панорамным
                    видом на улицу Киевская. Отдельная зона для функциональных
                    тренировок с профессиональным оборудованием Foreman.
                </div>
            </div>
        </div>

        <div class="pt-sectionPadding">
            <h2 class="uppercase text-lg md:text-xxl flex justify-center items-center font-normal px-4 lg:px-0 text-black  mb-6 leading-[1]"
                data-aos="zoom-in">
                зоны и возможности
            </h2>

            <div class="grid grid-cols-1 md:grid-cols-2 gap-5">
                <a href="#" class="block rounded-brxl overflow-hidden relative group" data-aos="fade-right">
                    <img src="{{ glide:data_url src='/assets/img/hall_zone_1.jpg' quality='75' format='webp' }}" alt=""
                        class="group-hover:scale-110 transition-all object-cover max-h-[370px] w-full object-left-top opacity-80 group-hover:opacity-100 bg-dark" />
                    <div
                        class="uppercase text-md lg:text-xl px-5 absolute text-light bottom-7 group-hover:scale-95 transition-all leading-tight">
                        функциональный тренинг
                    </div>
                </a>

                <a href="#" class="block rounded-brxl overflow-hidden relative group" data-aos="fade-left">
                    <img src="{{ glide:data_url src='/assets/img/hall_zone_1.jpg' quality='75' format='webp' }}" alt=""
                        class="group-hover:scale-110 transition-all object-cover max-h-[370px] w-full object-left-top opacity-80 group-hover:opacity-100 bg-dark" />
                    <div
                        class="uppercase text-md lg:text-xl px-5 absolute text-light bottom-7 group-hover:scale-95 transition-all leading-tight">
                        зона свободных весов
                    </div>
                </a>

                <a href="#" class="block rounded-brxl overflow-hidden relative group" data-aos="fade-right">
                    <img src="{{ glide:data_url src='/assets/img/hall_zone_1.jpg' quality='75' format='webp' }}" alt=""
                        class="group-hover:scale-110 transition-all object-cover max-h-[370px] w-full object-left-top opacity-80 group-hover:opacity-100 bg-dark" />
                    <div
                        class="uppercase text-md lg:text-xl px-5 absolute text-light bottom-7 group-hover:scale-95 transition-all leading-tight">
                        блочные тренажеры
                    </div>
                </a>

                <a href="#" class="block rounded-brxl overflow-hidden relative group" data-aos="fade-left">
                    <img src="{{ glide:data_url src='/assets/img/hall_zone_1.jpg' quality='75' format='webp' }}" alt=""
                        class="group-hover:scale-110 transition-all object-cover max-h-[370px] w-full object-left-top opacity-80 group-hover:opacity-100 bg-dark" />
                    <div
                        class="uppercase text-md lg:text-xl px-5 absolute text-light bottom-7 group-hover:scale-95 transition-all leading-tight">
                        кардио зона
                    </div>
                </a>

                <a href="#" class="block rounded-brxl overflow-hidden relative group" data-aos="fade-right">
                    <img src="{{ glide:data_url src='/assets/img/hall_zone_1.jpg' quality='75' format='webp' }}" alt=""
                        class="group-hover:scale-110 transition-all object-cover max-h-[370px] w-full object-left-top opacity-80 group-hover:opacity-100 bg-dark" />
                    <div
                        class="uppercase text-md lg:text-xl px-5 absolute text-light bottom-7 group-hover:scale-95 transition-all leading-tight">
                        зона кроссфита
                    </div>
                </a>

                <a href="#" class="block rounded-brxl overflow-hidden relative group" data-aos="fade-left">
                    <img src="{{ glide:data_url src='/assets/img/hall_zone_1.jpg' quality='75' format='webp' }}" alt=""
                        class="group-hover:scale-110 transition-all object-cover max-h-[370px] w-full object-left-top opacity-80 group-hover:opacity-100 bg-dark" />
                    <div
                        class="uppercase text-md lg:text-xl px-5 absolute text-light bottom-7 group-hover:scale-95 transition-all leading-tight">
                        ринг
                    </div>
                </a>
            </div>

            <div class="py-5">
                <a href="#"
                    class="rounded-brxl bg-main-red w-full py-6 px-4 flex items-center justify-center text-center text-light text-base md:text-md uppercase transition-all hover:scale-90"
                    data-aos="zoom-in">свободное
                    посещение зала ежедневно с 7 до 23</a>
            </div>
        </div>
    </div>
</section>

<section class="pb-sectionPadding px-4 bg-light">
    <div class="container">
        <div class="">
            <h2 data-aos="zoom-in"
                class="uppercase text-lg md:text-xxl flex justify-center items-center font-normal px-4 lg:px-0 text-black  mb-6 leading-[1]">
                не знаешь как начать?
            </h2>

            <div class="rounded-brxl bg-dark text-light p-[clamp(1rem,0.4127rem+2.6104vw,2.625rem)]"
                data-aos="zoom-out">
                <div class="max-h-[409px] object-center object-cover overflow-hidden rounded-brxl mb-6">
                    <img src="{{ glide:data_url src='/assets/img/trainer-hero.jpg' quality='75' format='webp' }}" alt=""
                        class="" />
                </div>
                <div class="grid grid-cols-3 gap-2 justify-between items-center">
                    <p class="text-base lg:text-lg col-span-2 hyphens-manual">
                        запишись на <br />
                        индивидуальную тренировку
                    </p>
                    <a href=""
                        data-dialog="dialog-more"
                        class="show ml-auto col-span-1 flex items-center justify-center w-[clamp(3rem,1.6672rem+5.9237vw,6.6875rem)] h-[clamp(3rem,1.6672rem+5.9237vw,6.6875rem)] transition-all hover:scale-110"><svg
                            width="100%" height="100%" viewBox="0 0 108 108" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <circle cx="53.7238" cy="53.7238" r="53.7238" fill="#FFF8F8" />
                            <path
                                d="M76.1914 48.7157C73.425 48.7157 71.1825 50.9582 71.1825 53.7246C71.1825 56.491 73.425 58.7336 76.1914 58.7336V48.7157ZM83.1521 57.2665C85.1082 55.3104 85.1082 52.1389 83.1521 50.1827L51.2753 18.306C49.3192 16.3499 46.1477 16.3499 44.1916 18.306C42.2355 20.2621 42.2355 23.4336 44.1916 25.3897L72.5265 53.7246L44.1916 82.0595C42.2355 84.0156 42.2355 87.1871 44.1916 89.1432C46.1477 91.0993 49.3192 91.0993 51.2753 89.1432L83.1521 57.2665ZM76.1914 58.7336H79.6102V48.7157H76.1914V58.7336Z"
                                fill="#1E1E1E" />
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Форма записи -->

<section class="bg-dark">
    <div class="container grid grid-cols-1 items-center px-4 lg:grid-cols-3 gap-y-5 lg:gap-24 py-sectionPadding">
        <div class="col-span-2">
            <h3 class="text-xl md:text-xxl leading-none uppercase mb-7 text-light max-w-full md:max-w-[60%]"
                data-aos="zoom-in">
                НЕ УПУСТИ ЭТУ ВОЗМОЖНОСТЬ
            </h3>

            <div class="" data-aos="fade-in" data-aos-delay="1000">
                {{ csrf_field }}
                <form id="mainContactForm">
                    <input
                        type="text"
                        id="name"
                        name="name"
                        autocomplete="name"
                        placeholder="имя"
                        required
                        class="block w-full bg-dark text-light px-5 py-2 uppercase rounded-[clamp(0.625rem,0.3991rem+1.004vw,1.25rem)] text-[clamp(0.875rem,0.5587rem+1.4056vw,1.75rem)]"
                    />
                    <input
                        type="tel"
                        id="phone"
                        name="phone"
                        autocomplete="tel"
                        placeholder="номер телефона"
                        required
                        class="block w-full bg-dark text-light px-5 py-2 uppercase rounded-[clamp(0.625rem,0.3991rem+1.004vw,1.25rem)] text-[clamp(0.875rem,0.5587rem+1.4056vw,1.75rem)] my-2"
                    />
                    <input
                        type="submit"
                        value="стать ближе к своей цели"
                        class="block w-full bg-main-red px-5 py-2 text-light uppercase cursor-pointer rounded-[clamp(0.625rem,0.3991rem+1.004vw,1.25rem)] text-[clamp(0.875rem,0.5587rem+1.4056vw,1.75rem)]"
                    />
                    <span
                        class="block mt-2 text-center text-[clamp(0.5rem,0.3645rem+0.6024vw,0.875rem)]"
                    >
                        Нажимая "Отправить" я согласен на обработку персональных
                        данных
                    </span>

                    <!-- Индикатор состояния -->
                    <div id="formStatus" class="mt-4 p-4 rounded-lg hidden">
                        <p class="text-center"></p>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-span-1" data-aos="zoom-in">
            <img src="{{ glide:data_url src='/assets/img/pool-contact.png' quality='75' format='webp' }}" alt=""
                class="block w-full mx-auto rounded-brxl" />
        </div>
    </div>
</section>
