<section class="py-sectionPadding markdown-content">
    <div class="container px-4">
        {{ if tipovaya_image }}
        <div
            style="background-image: url('{{ glide:data_url src=tipovaya_image quality='75' format='webp' }}');"
            class="bg-no-repeat bg-cover w-full h-[625px] {{ tipovaya_image ? '' : 'bg-gray-500 rounded-brxl' }}"
        ></div>
        {{ /if }}

        {{ if title }}
        <h1 class="text-lg md:text-xxl uppercase text-light mt-4">
            {{ title }}
        </h1>
        {{ /if }}

        {{ if tipovaya_markdown }}
        <div class="text-light mt-2">{{ tipovaya_markdown }}</div>
        {{ elseif tipovaya_html }}
        <div class="text-light mt-2">{{ tipovaya_html }}</div>
        {{ else }}
        <div class="text-light mt-2">{{ tipovaya_text }}</div>
        {{ /if }}

        {{ if custom_html_script }}
        {{!! custom_html_script !!}}
        {{ /if }}
    </div>
</section>
