@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This is all you. */

@font-face {
    font-family: "Gothic No60";
    src:
        url("../fonts/Gothic60-Regular.woff2") format("woff2"),
        url("../fonts/Gothic60-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    /* outline: 1px solid tomato; */
    /* outline: 1px solid mediumseagreen; */
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

html,
body {
    /* font-family: 'Gothic No60'; */
    color: #1e1e1e;
    text-wrap: balance;
}

.container {
    max-width: 1365px;
}

.arrow-bg {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-inline: 1em;

    span {
        flex: 0 0 auto;
        padding-inline: 20px;
    }

    &::before {
        content: "";
        background-image: url("data:image/svg+xml,%3Csvg width='307' height='2' viewBox='0 0 307 2' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cline y1='1.06228' x2='307' y2='1.06228' stroke='white' stroke-width='1.87544'/%3E%3C/svg%3E%0A");
        background-repeat: no-repeat;
        background-position: 0 0;
        width: 100%;
        max-width: 307px;
        height: 2px;
        display: block;
    }

    &::after {
        content: "";
        background-image: url("data:image/svg+xml,%3Csvg width='312' height='14' viewBox='0 0 312 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M311.663 7.66309C312.029 7.29689 312.029 6.70316 311.663 6.33696L305.695 0.369351C305.329 0.00314944 304.736 0.0031494 304.369 0.369351C304.003 0.735553 304.003 1.32928 304.369 1.69549L309.674 7.00002L304.369 12.3046C304.003 12.6708 304.003 13.2645 304.369 13.6307C304.736 13.9969 305.329 13.9969 305.695 13.6307L311.663 7.66309ZM-7.30158e-08 7.93772L311 7.93774L311 6.06231L7.30158e-08 6.06228L-7.30158e-08 7.93772Z' fill='white'/%3E%3C/svg%3E%0A");
        background-repeat: no-repeat;
        background-position: 100% 0;
        width: 100%;
        max-width: 312px;
        height: 14px;
        display: block;
    }
}

.flip_card {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2em;

    > .front,
    > .back {
        display: block;
        transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
        transition-duration: 0.5s;
        transition-property: transform, opacity;
        height: 592px;
        display: block;
    }

    > .front {
        transform: rotateY(0deg);
    }

    > .back {
        position: absolute;
        opacity: 0;
        top: 0px;
        left: 0px;
        max-width: 100%;
        height: 100%;
        transform: rotateY(-180deg);
    }

    &:hover {
        > .front {
            transform: rotateY(180deg);
        }

        > .back {
            opacity: 1;
            transform: rotateY(0deg);
        }
    }

    &.flip-vertical {
        > .back {
            transform: rotateX(-180deg);
        }

        &:hover {
            > .front {
                transform: rotateX(180deg);
            }

            > .back {
                transform: rotateX(0deg);
            }
        }
    }
}

.mySwiper .swiper {
    width: 100%;
    height: 100%;
}

.mySwiper .swiper-slide {
    text-align: center;
    font-size: 18px;
}

.mySwiper .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.mySwiper .swiper-pagination-bullet-active {
    background-color: #1e1e1e;
}

.light-line {
    &:before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        height: 84px;
        background: #fff8f8;
    }
}

.aboniment-block {
    display: grid;
    grid-template-columns: auto minmax(100px, 1365px) auto;
    align-items: start;

    .left-line {
        background: #fff8f8;
        height: 60px;
        border-radius: 0 0 30px 0;
    }

    .right-line {
        background: #fff8f8;
        height: 60px;
        /* border-radius: 0 0 0 30px; */
    }
}

.dialog-glass {
    background: rgba(255, 255, 255, 0.17);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.8px);
    -webkit-backdrop-filter: blur(8.8px);
}

dialog {
    animation: fade-out 0.3s ease-out;
    margin: auto;
}

dialog[open] {
    animation: fade-in 0.3s ease-out;
}

dialog[open]::backdrop {
    animation: backdrop-fade-in 0.3s ease-out forwards;
}

/* Animation keyframes */

@keyframes fade-in {
    0% {
        opacity: 0;
        transform: scaleY(0);
        display: none;
    }

    100% {
        opacity: 1;
        transform: scaleY(1);
        display: block;
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
        transform: scaleY(1);
        display: block;
    }

    100% {
        opacity: 0;
        transform: scaleY(0);
        display: none;
    }
}

@keyframes backdrop-fade-in {
    0% {
        background-color: rgb(0 0 0 / 0%);
    }

    100% {
        background-color: rgb(0 0 0 / 60%);
    }
}

.trainer-hero-mask {
    mask-image: url("data:image/svg+xml,%3Csvg width='100%' height='608' viewBox='0 0 1277 608' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 36.0221C0 16.1277 16.1277 0 36.0221 0H139.499H490.978C510.872 0 527 16.1277 527 36.0221V229.978C527 249.872 543.128 266 563.022 266H1240.98C1260.87 266 1277 282.128 1277 302.022V571.208C1277 591.102 1260.87 607.23 1240.98 607.23H36.0221C16.1276 607.23 0 591.102 0 571.208V36.0221Z' fill='%232E2E2E'/%3E%3C/svg%3E%0A");
    mask-repeat: no-repeat;
    mask-size: contain;
}

.arrow-title {
    &:after {
        content: "";
        width: clamp(2.75rem, -7.1898rem + 44.1767vw, 30.25rem);
        /* max-width: clamp(2.75rem, -7.1898rem + 44.1767vw, 30.25rem); */
        height: clamp(0.9375rem, 0.4179rem + 2.3092vw, 2.375rem);

        background-image: url("data:image/svg+xml,%3Csvg width='487' height='38' viewBox='0 0 487 38' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M485.768 20.7678C486.744 19.7915 486.744 18.2085 485.768 17.2322L469.858 1.32233C468.882 0.34602 467.299 0.34602 466.322 1.32233C465.346 2.29864 465.346 3.88155 466.322 4.85786L480.464 19L466.322 33.1421C465.346 34.1184 465.346 35.7014 466.322 36.6777C467.299 37.654 468.882 37.654 469.858 36.6777L485.768 20.7678ZM0 21.5H484V16.5H0V21.5Z' fill='black'/%3E%3C/svg%3E%0A");
        background-repeat: no-repeat;
        background-size: contain;

        @media (width <=600px) {
            display: none;
        }
    }
}

/* ACCORDION */
details {
    cursor: pointer;
    overflow: hidden;
    margin-bottom: 1em;
}

/* Hide marker in non-Safari browsers */
summary::marker {
    content: none;
}

/* Hide marker in Safari */
summary::-webkit-details-marker {
    display: none;
}

&:has(input:checked) .details-content {
    block-size: auto;
    /* Or also:  height:auto; */
}

.invert-border-crossfit {
    --sizes: clamp(1rem, 0.5934rem + 1.8072vw, 2.125rem);
    position: relative;

    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 100%;
        border-radius: var(--sizes);
        width: var(--sizes);
        height: var(--sizes);
        background-color: transparent;
        border: 10px solid transparent;
        box-shadow: -10px -10px 0 #1f1f1f;
    }

    &:after {
        content: "";
        position: absolute;
        top: 0;
        right: 100%;
        border-radius: var(--sizes);
        width: var(--sizes);
        height: var(--sizes);
        background-color: transparent;
        border: 10px solid transparent;
        box-shadow: 10px -10px 0 #1f1f1f;
    }
}

.bblock-rounded {
    --sizes: clamp(1rem, 0.5934rem + 1.8072vw, 2.125rem);
    position: relative;

    &:before {
        content: "";
        position: absolute;
        top: -34px;
        right: 0px;
        border-radius: var(--sizes);
        width: var(--sizes);
        height: var(--sizes);
        background-color: transparent;
        border: 10px solid transparent;
        box-shadow: 10px 10px 0 #fff8f8;
    }

    &:after {
        content: "";
        position: absolute;
        bottom: -1px;
        right: 100%;
        border-radius: var(--sizes);
        width: var(--sizes);
        height: var(--sizes);
        background-color: transparent;
        border: 10px solid transparent;
        box-shadow: 10px 13px 0 #fff8f8;
    }
}

.tblock-rounded {
    /* --sizes: clamp(1rem, 0.5934rem + 1.8072vw, 2.125rem); */
    --sizes: 60px;
    position: relative;

    &:before {
        content: "";
        position: absolute;
        top: -2px;
        right: -60px;
        border-radius: var(--sizes);
        width: var(--sizes);
        height: var(--sizes);
        background-color: transparent;
        box-shadow: -17px -20px 0 #fff8f8;
    }

    &:after {
        content: "";
        position: absolute;
        bottom: -60px;
        left: 0px;
        border-radius: var(--sizes);
        width: var(--sizes);
        height: var(--sizes);
        background-color: transparent;
        box-shadow: -28px -26px 0px 0px #fff8f8;
    }
}

/* Базовые настройки для view transitions */
::view-transition-old(root) {
    animation-duration: 0.6s;
    animation: blur-out 0.6s ease-out;
}

::view-transition-new(root) {
    animation: blur-in 0.6s ease-out;
}

/* Определяем анимацию размытия */
@keyframes blur-out {
    0% {
        filter: blur(5px);
        opacity: 1;
    }

    100% {
        filter: blur(5px);
        opacity: 0;
    }
}

@keyframes blur-in {
    0% {
        filter: blur(5px);
        opacity: 0;
    }

    80% {
        filter: blur(0);
        opacity: 0;
    }

    100% {
        filter: blur(0);
        opacity: 1;
    }
}

.mySwiper2 .swiper-wrapper {
}

.mySwiper2 .swiper-slide {
    display: flex;
    height: auto;
}

.mySwiper2 .swiper-slide img {
    height: auto;
}

section {
    animation: fadesection linear;
}

@keyframes fadesection {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
/* * { */
/*     outline: 1px solid red; */
/* } */

.faq-accordion-details {
    margin-bottom: 24px;
}

.faq-accordion summary {
    display: flex;
    align-items: center;
    gap: 6px;
    margin-bottom: 24px;
}
.faq-accordion summary span {
    display: block;
    flex-shrink: 0;
}
@media (width <= 768px) {
    .faq-accordion summary span {
        flex-shrink: 1;
    }
}
.faq-accordion summary::after {
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg width='675' height='16' viewBox='0 0 675 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M674.707 8.52748C675.098 8.13695 675.098 7.50379 674.707 7.11326L668.343 0.749303C667.953 0.358779 667.319 0.358779 666.929 0.749303C666.538 1.13983 666.538 1.77299 666.929 2.16352L672.586 7.82037L666.929 13.4772C666.538 13.8677 666.538 14.5009 666.929 14.8914C667.319 15.282 667.953 15.282 668.343 14.8914L674.707 8.52748ZM-8.74228e-08 8.82031L674 8.82037L674 6.82037L8.74228e-08 6.82031L-8.74228e-08 8.82031Z' fill='black'/%3E%3C/svg%3E%0A");
    width: 100%;
    max-width: 100%;
    height: 16px;
    background-position: 100% 0;
    background-repeat: no-repeat;
    margin-left: auto;
    flex-shrink: 1;
}
.faq-accordion-content {
    display: grid;
    grid-template-rows: 0fr;
    transition: all 0.3s ease;
}
.faq-accordion-content--body {
    overflow: hidden;
}
.faq-accordion-details[open] {
    background-color: #f1f1f1;
    padding: 16px;
    transition: all 0.3s ease;
}
.faq-accordion-details[open] > .faq-accordion-content {
    grid-template-rows: 1fr;
}

.toggle-button {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
}

.content {
    display: none;
    opacity: 0;
    transition: all 0.3s ease;
}

.content.active {
    display: block;
    opacity: 1;
}

/* DJUNIOR */
