<!-- START::FOOTER -->
<footer class="bg-light py-10 md:py-24 px-4">
  <div
    class="container sm:grid sm:grid-cols-4 md:grid-cols-5 items-center gap-12 bg-dark rounded-[clamp(3rem,2.3449rem+2.9116vw,4.8125rem)] px-[clamp(2.375rem,1.7877rem+2.6104vw,4rem)] py-10">

    <a href="" class="sm:col-span-4 md:col-span-1 flex justify-center items-center"><img src="/img/footer-logo.svg"
        alt="" class="max-w-full block"></a>

    <ul class="col-span-2">
      <li class="">
        <a href=""
          class="text-[clamp(0.6875rem,0.2809rem+1.8072vw,1.8125rem)] text-light font-normal uppercase hover:border-b hover:border-light">команда</a>
      </li>
      <li class="">
        <a href=""
          class="text-[clamp(0.6875rem,0.2809rem+1.8072vw,1.8125rem)] text-light font-normal uppercase hover:border-b hover:border-light">ПАРТНЕРЫ</a>
      </li>
      <li class="">
        <a href=""
          class="text-[clamp(0.6875rem,0.2809rem+1.8072vw,1.8125rem)] text-light font-normal uppercase hover:border-b hover:border-light">ОПЛАТА</a>
      </li>
      <li class="">
        <a href=""
          class="text-[clamp(0.6875rem,0.2809rem+1.8072vw,1.8125rem)] text-light font-normal uppercase hover:border-b hover:border-light">СОТРУДНИЧЕСТВО
          И РЕКЛАМА</a>
      </li>
      <li class="">
        <a href=""
          class="text-[clamp(0.6875rem,0.2809rem+1.8072vw,1.8125rem)] text-light font-normal uppercase hover:border-b hover:border-light">ПРАВИЛА
          КЛУБА</a>
      </li>
      <li class="">
        <a href=""
          class="text-[clamp(0.6875rem,0.2809rem+1.8072vw,1.8125rem)] text-light font-normal uppercase hover:border-b hover:border-light">ПОЛИТИКА
          КОНФИДЕЦИАЛЬНОСТИ</a>
      </li>
      <li class="">
        <a href=""
          class="text-[clamp(0.6875rem,0.2809rem+1.8072vw,1.8125rem)] text-light font-normal uppercase hover:border-b hover:border-light">ДОГОВОР
          ОФЕРТЫ</a>
      </li>
      <li class="">
        <a href=""
          class="text-[clamp(0.6875rem,0.2809rem+1.8072vw,1.8125rem)] text-light font-normal uppercase hover:border-b hover:border-light">КОНТАКТЫ</a>
      </li>
    </ul>

    <ul class="col-span-2">
      <li
        class="text-light [font-size:_clamp(1.125rem,0.7775rem+1.7375vw,2.25rem)] font-normal leading-5 text-right mb-3">
        8 800 500
        1598</li>

      <li class="">
        <span class="block text-light text-right [font-size:_clamp(0.625rem,0.4706rem+0.7722vw,1.125rem)]">пн-пт
          7-23</span>
        <span class="block text-light text-right [font-size:_clamp(0.625rem,0.4706rem+0.7722vw,1.125rem)]">сб-вс,
          праздники 7-22</span>
      </li>

      <li class="flex items-center justify-end mb-4">
        <button class="hover:opacity-70 transition-all"><img src="/img/telegram_button_light.svg" alt=""
            class="max-w-[3.3125em]"></button>
        <button class="hover:opacity-70 transition-all"><img src="/img/vk_button_light.svg" alt=""
            class="max-w-[3.3125em]"></button>
      </li>

      <li class="">
        <p class="[font-size:_clamp(0.625rem,0.5092rem+0.5792vw,1rem)] text-light font-normal text-right">наше
          мобильное приложение</p>
      </li>

      <li class="flex items-center justify-end gap-4 py-4">
        <button class="border border-light rounded-[64px] h-16 px-4 py-2 text-light">App Store</button>
        <button class="border border-light rounded-[64px] h-16 px-4 py-2 text-light">Google Play</button>
      </li>

      <li class="flex justify-end items-center gap-5">
        <button class=""><img src="/img/yandex_button.svg" alt=""></button>
        <p class="text-light [font-size:_clamp(0.5rem,0.3649rem+0.6757vw,0.9375rem)] font-normal">наш рейтинг <br>на
          Яндекс</p>
        <p class="[font-size:_clamp(1.3125rem,0.9457rem+1.834vw,2.5rem)] text-light font-normal">4,9</p>
      </li>

    </ul>

  </div>
</footer>
<!-- END::FOOTER -->
