@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Gothic No60';
  src: url('/fonts/Gothic60-Regular.woff2') format('woff2'),
    url('/fonts/Gothic60-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}



*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* outline: 1px solid tomato; */
}

html,
body {
  /* font-family: 'Gothic No60'; */
}

.container {
  max-width: 1365px;
}
