<section class="bg-dark">
  <div
    class="container grid grid-cols-1 items-center px-4 pb-[clamp(7.8125rem,6.7508rem+4.7189vw,10.75rem)] pt-[clamp(3.4375rem,1.5173rem+8.5341vw,8.75rem)] lg:grid-cols-3 gap-y-5 lg:gap-24">
    <div class="col-span-2">
      <h3 class="text-[clamp(3rem,2.3675rem+2.8112vw,4.75rem)] leading-none uppercase mb-7 text-light">
        лучший бассейн
        города ждет тебя
      </h3>

      <form id="contact-form" action="" method="get" class="flex flex-col gap-5">
        <div>
          <input type="text" placeholder="ИМЯ"
            class="w-full px-[clamp(0.625rem,0.2636rem+1.6064vw,1.625rem)] py-[clamp(0.5rem,0.3193rem+0.8032vw,1rem)] bg-light rounded-[clamp(0.625rem,0.2636rem+1.6064vw,1.625rem)] focus:outline-none focus:ring-2 focus:ring-red-600"
            required>
        </div>
        <div>
          <input type="tel" placeholder="НОМЕР ТЕЛЕФОНА"
            class="w-full px-[clamp(0.625rem,0.2636rem+1.6064vw,1.625rem)] py-[clamp(0.5rem,0.3193rem+0.8032vw,1rem)]  bg-light rounded-[clamp(0.625rem,0.2636rem+1.6064vw,1.625rem)] focus:outline-none focus:ring-2 focus:ring-red-600"
            required>
        </div>
        <button type="submit"
          class="w-full text-light px-[clamp(0.625rem,0.2636rem+1.6064vw,1.625rem)] py-[clamp(0.5rem,0.3193rem+0.8032vw,1rem)] bg-red-600 hover:bg-red-700 transition rounded-[clamp(0.625rem,0.2636rem+1.6064vw,1.625rem)]">
          СТАТЬ БЛИЖЕ К СВОЕЙ ЦЕЛИ
        </button>
        <p class="text-[clamp(0.5rem,0.2741rem+1.004vw,1.125rem)] text-center text-light">
          Нажимая "Отправить" я согласен на обработку персональных данных
        </p>
      </form>

    </div>
    <div class="col-span-1">
      <img src="/img/pool-contact.png" alt="" class="block w-full mx-auto">
    </div>
  </div>
</section>
