{% from './src/part/components.html' import heroImage, heroBtn, skileCrossfit, redBlocks %}
{% extends 'src/part/base.html' %}

{% set title="Home" %}

{% block header %}
  {% include "./src/part/templates/header.html" %}
{% endblock %}

{% block content %}

<section class="py-sectionPadding">
    {{ heroImage('../../public/img/crossfit.jpg', 'Кроссфит') }}
    
    <div class="grid grid-cols-3 md:grid-cols-1 pt-sectionPadding  gap-2 hyphens-auto md:hidden">
        <div class="h-[1px] bg-main-red col-span-1 self-center md:block"></div>
        <div class="uppercase text-light text-lg md:text-xl leading-none col-span-2 text-right">весь необходимый</div>
        <div class="uppercase text-light text-lg md:text-xl leading-none col-span-3 text-right">инвентарь</div>
        <div class="uppercase text-light text-lg md:text-xl leading-none col-span-2 sm:col-span-1">отдельная </div>
        <div class="h-[1px] bg-main-red text-lg col-span-1 sm:col-span-2 self-center  md:block"></div>
        <div class="uppercase text-light text-lg md:text-xl leading-none col-span-2">кроссфит - зона</div>
    </div>
    <div class="grid-cols-1 md:grid-cols-6 pt-sectionPadding  gap-6 hyphens-auto hidden md:grid">
        <div class="uppercase text-light text-xl leading-none col-span-2 ">отдельная</div>
        <div class="h-[1px] bg-main-red col-span-1 self-center hidden md:block"></div>
        <div class="uppercase text-light text-xl leading-none col-span-3 text-right">весь необходимый</div>
        <div class="uppercase text-light text-xl leading-none col-span-2">кроссфит - зона</div>
        <div class="h-[1px] bg-main-red col-span-2 self-center hidden md:block"></div>
        <div class="uppercase text-light text-xl leading-none col-span-2 text-right">инвентарь</div>
    </div>
    
    <div class="pt-sectionPadding">
        {{ heroBtn("тренеры - проффесионалы") }}
    </div>

    </div>
</section>


<section class="py-sectionPadding px-4 bg-light">
    <div class="container text-dark">

        <div class="bg-[url(/img/crossfit-bordered.jpg)] bg-cover bg-top rounded-brxl overflow-hidden">
           <div class="grid grid-cols-3 grid-rows-2 text-dark min-h-[615px] ">
               <div class="self-start bg-light p-4 rounded-br-brxl tblock-rounded text-xl md:text-xxxl col-span-2 row-span-1">КРОССФИТ -</div>
               <div class="col-span-1"></div>
               <div class="col-span-1"></div>
               <div class="self-end bg-light p-4 rounded-tl-brxl bblock-rounded row-span-2 col-span-2 text-right text-base md:text-md">вид функциональных тренировок, как правило объединяющий в себе кардионагрузки, гимнастические и силовые упражнения. Одна из главных особенностей кроссфита – прохождение кругов. Проходит в специальной отведенной для этого зоне зала. </div>
           </div> 
        <!-- <img src="./public/img/crossfit-bordered.jpg" alt="" class=""> -->
        </div>
                <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-3 gap-4 pt-sectionPadding">

                    <div class="col-span-1 text-sm flex flex-col gap-4">
                        {% set redBconf = [
                        {
                        "rub": false,
                        "title": "CROSSFIT START",
                        "content": [
                        {"text":"Силовая групповая тренировка, включающая в себя Развитие основных двигательных и физических качеств. Начальный базовый уровень. В тренировку входят базовые упражнения со штангой, гантелями и гирями ."},
                        {"text":"Рекомендуется для всех уровней подготовки."}
                        ]
                        

 
                        }

                        ] %}
                        {{ redBlocks(redBconf) }}
                    </div>
                    <div class="col-span-1 text-sm flex flex-col gap-4">
                        {% set redBconf = [
                        {
                        "rub": false,
                        "title": "CROSSFIT WORK",
                        "content": [
                        {"text":"высокоинтенсивная, функциональная тренировка,
развивающая силу и выносливость. 
Включает в себя такие стили, как Tabata, EMOM, AMRAP. В программе комбинируются такие виды деятельности, как бег, гребля, прыжки (со скакалкой или на препятствия), лазание по канату, работа со
свободными весами (гантели, гири, штанга, медбол), упражнения на турника и прочие."},
                        {"text":"Рекомендуется для среднего уровня подготовки."}
                        ]
                        }
                        
                        ] %}
                        {{ redBlocks(redBconf) }}
                    </div>
                    <div class="col-span-1 text-sm flex flex-col gap-4">
                        {% set redBconf = [
                        {
                        "rub": false,
                        "title": "CROSSFIT",
                        "content": [
                        {"text":"высокоинтенсивная, функциональная тренировка,
развивающая силу и выносливость. 
Включает в себя такие стили, как Tabata, EMOM, AMRAP. В программе комбинируются такие виды деятельности, как бег, гребля, прыжки (со скакалкой или на препятствия), лазание по канату, работа со
свободными весами (гантели, гири, штанга, медбол), упражнения на турника и прочие."},
                        {"text":"Рекомендуется для среднего уровня подготовки."},
                        {"text":"Чтобы записаться онлайн убедитесь, что услуга оплачена. Бронирование доступно за сутки до занятия. Запись закрывается за 4 часа до начала тренировки!"}
                        ]
                        }
                        ] %}
                        {{ redBlocks(redBconf) }}
                    </div>

                </div>

    </div>
</section>



    {{ skileCrossfit() }}
        
    <!-- Форма записи -->
    {% from "./src/part/components.html" import formreg %}
    {% set formSettings = {
    "title": "ПРОКАЧАЙ СВОЕ ТЕЛО И ДУХ",
    "submit": "СТАТЬ БЛИЖЕ К СВОЕЙ ЦЕЛИ",
    "img": "/img/crossfit-contact-desktop.png"
    } %}
    {{ formreg(formSettings.title, formSettings.submit, formSettings.img) }}


{% endblock %}

{% block footer %}
{% from "./src/part/templates/footer.html" import footer %}

<!-- TRUE - LIGHT VERSION FOOTER -->
<!-- {//{// footer(true) }} -->
{{ footer(true) }}
{% endblock %}

