{% extends "src/part/base.html" %}
{% from './src/part/components.html' import formreg, heroImage, heroBtn, redBlocks, skileCrossfit %}

{% set title = "Pool" %}

{% block header %}
{% include './src/part/templates/header.html' %}
{% endblock %}

{% block content %}

<section class="py-sectionPadding">
    
    {{ heroImage('/img/pool-hero.png', "бассейн") }}
    
    <div class="text-light pt-sectionPadding">
        <div class="flex items-center justify-around leading-none">
            <div class="flex flex-col items-center justify-center"><span class="text-[clamp(3.3125rem,0.805rem+11.1446vw,10.25rem)]">25</span><span class="md:text-lg">метров</span></div>
            <div class="flex flex-col items-center justify-center"><span class="text-[clamp(3.3125rem,0.805rem+11.1446vw,10.25rem)]">2.20</span><span class="md:text-lg">м. глубины</span></div>
            <div class="flex flex-col items-center justify-center"><span class="text-[clamp(3.3125rem,0.805rem+11.1446vw,10.25rem)]">6</span><span class="md:text-lg">дорожек</span></div>
        </div>
    </div>
    
    <div class="pt-sectionPadding">
        {{ heroBtn("используем Многоступенчатую систему очистки для поддержания идеального состояния воды") }}
    </div>

    </div>
</section>

<section class="py-sectionPadding px-4 bg-light">
    <div class="container text-dark">

        <div class="bg-[url(/img/pool_bordered.jpg)] bg-cover bg-top rounded-brxl overflow-hidden">
           <div class="grid grid-cols-3 grid-rows-2 text-dark min-h-[615px] ">
               <div class="self-start bg-light p-4 rounded-br-brxl tblock-rounded text-xl md:text-xxl col-span-2 row-span-1 uppercase">индивидуальные тренировки -</div>
               <div class="col-span-1"></div>
               <div class="col-span-1"></div>
               <div class="self-end bg-light p-4 rounded-tl-brxl bblock-rounded row-span-2 col-span-2 text-right">Индивидуальные занятия под руководством профессионального тренера для укрепления здоровья и улучшения физической формы. Подходят для любого уровня подготовки.</div>
           </div> 
        <!-- <img src="./public/img/crossfit-bordered.jpg" alt="" class=""> -->
        </div>
                    
        <div class="pt-sectionPadding">
            <h2 class="text-center uppercase text-xxl md:text-xxxl col-span-1 md:col-span-2 lg:col-span-3 xl:col-span-3 leading-none mb-5">групповые тренировки</h2>
            <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-5 ">
               <div class="">
                    {% set redBconf = [
                    {
                    "rub": false,
                    "title": "PRO",
                    "content": [
                    {"text":"Групповая тренировка с использованием аква-гантелей, нудлов и аква-утяжелителей под динамичную музыку."},
                    {"text":"Фокус на мышцы верхней части тела, брюшного пресса и ног."}
                    ]
                    }
                    ] %}
                    {{ redBlocks(redBconf) }}
               </div>
               <div class="">
                    {% set redBconf = [
                    {
                    "rub": false,
                    "title": "SWIMMING",
                    "content": [
                    {"text":"Групповая тренировка для развития техники плавания и физической формы под руководством квалифицированного тренера."}
                    ]
                    }
                    ] %}
                    {{ redBlocks(redBconf) }}
               </div>
               <div class="">
                    {% set redBconf = [
                    {
                    "rub": false,
                    "title": "водное поло",
                    "content": [
                    {"text":"Групповая тренировка, посвященная игре в водное поло. Развитие командного взаимодействия и плавательных навыков."}
                    ]
                    }
                    ] %}
                    {{ redBlocks(redBconf) }}
               </div>
               <div class="">
                    {% set redBconf = [
                    {
                    "rub": false,
                    "title": "ШЕЙПИНГ",
                    "content": [
                    {"text":"Аквааэробика для улучшения физической формы и формирования фигуры. Укрепление мышц и повышение обмена веществ."}
                    ]
                    }
                    ] %}
                    {{ redBlocks(redBconf) }}
               </div>
               <div class="hidden md:block md:col-span-2 self-center">
                    <img src="img/pool_right_sm.jpg" alt="" class="object-cover h-auto max-h-48 w-full rounded-brxl">
               </div>
               <div class="self-center">
                    <img src="img/pool_left_sm.jpg" alt="" class="object-cover h-auto max-h-48 w-full rounded-brxl">
               </div>
               <div class="">
                    {% set redBconf = [
                    {
                    "rub": false,
                    "title": "ГИМНАСТИКА",
                    "content": [
                    {"text":"Групповая тренировка для укрепления суставов и улучшения их гибкости. Сочетает оздоровительное плавание и специальные упражнения."}
                    ]
                    }
                    ] %}
                    {{ redBlocks(redBconf) }}
               </div>
               <div class="">
                    {% set redBconf = [
                    {
                    "rub": false,
                    "title": "MIX",
                    "content": [
                    {"text":"Динамичная высокоинтенсивная тренировка, сочетающая аквааэробику и специальные упражнения для всех групп мышц."}
                    ]
                    }
                    ] %}
                    {{ redBlocks(redBconf) }}
               </div>
               <div class="">
                    {% set redBconf = [
                    {
                    "rub": false,
                    "title": "ПЛАВАНИЕ В ЛАСТАХ",
                    "content": [
                    {"text":"Тренировка с ластами для увеличения нагрузки на мышцы, улучшения выносливости и сердечно-сосудистой системы."}
                    ]
                    }
                    ] %}
                    {{ redBlocks(redBconf) }}
               </div>
               <div class="">
                    {% set redBconf = [
                    {
                    "rub": false,
                    "title": "NOODLES / DUMBBELLS",
                    "content": [
                    {"text":"Тренировка для развития координации и укрепления стабилизаторов с использованием аква-нудлов и специальных гантелей."}
                    ]
                    }
                    ] %}
                    {{ redBlocks(redBconf) }}
               </div>
               <div class="">
                    {% set redBconf = [
                    {
                    "rub": false,
                    "title": "ТЕХНИКА ПЛАВАНИЯ",
                    "content": [
                    {"text":"Мастер-класс по совершенствованию техники плавания различных стилей с индивидуальными рекомендациями."}
                    ]
                    }
                    ] %}
                    {{ redBlocks(redBconf) }}
               </div>
            </div>
        </div>

    </div>
</section>



<!-- Расписание pool-schedule.png-->
<section id="schedule"
    class="py-sectionPadding bg-light text-light px-4">
    <div
        class="container bg-[url('/img/pool-schedule.png')] bg-no-repeat bg-cover bg-center py-[clamp(1rem,0.3675rem+2.8112vw,2.75rem)] px-4 lg:px-14 rounded-[clamp(0.875rem,0.1295rem+3.3133vw,2.9375rem)]">
        <h3
            class="uppercase text-center text-[clamp(0.625rem,-0.0075rem+2.8112vw,2.375rem)] mb-[clamp(1.1875rem,1.0294rem+0.7028vw,1.625rem)]">
            свободное
            посещение бассейна</h3>
        <div class="grid grid-cols-1 lg:grid-cols-4 gap-0 lg:gap-3 justify-around text-center lg:text-left">
            <div class="col-span-2 text-[clamp(1.1875rem,0.7583rem+1.9076vw,2.375rem)]">понедельник - пятница
            </div>
            <div
                class="col-span-1 relative items-center justify-center before:absolute before:h-[1px] before:bg-light before:w-full hidden lg:flex">
            </div>
            <div class="col-span-1 text-[clamp(1rem,0.503rem+2.2088vw,2.375rem)]">с 07:00 до 22:30</div>
        </div>

        <div class="h-[1px] bg-light w-full max-w-[83px] mx-auto my-2 lg:hidden"></div>

        <div class="grid grid-cols-1 lg:grid-cols-4 gap-0 lg:gap-3 justify-around text-center lg:text-left">
            <div class="col-span-1 text-[clamp(1.1875rem,0.7583rem+1.9076vw,2.375rem)]">выходные
            </div>
            <div
                class="col-span-2 relative items-center justify-center before:absolute before:h-[1px] before:bg-light before:w-full hidden lg:flex">
            </div>
            <div class="col-span-1 text-[clamp(1rem,0.503rem+2.2088vw,2.375rem)]">с 08:00 до 21:30</div>
        </div>
    </div>
</section>

<!-- Форма записи -->
{% set formSettings = {
  "title": "ЛУЧШИЙ БАССЕН ГОРОДА ЖДЕТ ТЕБЯ",
  "submit": "СТАТЬ БЛИЖЕ К СВОЕЙ ЦЕЛИ",
  "img": "/img/pool-contact.png"
} %}
{{ formreg(formSettings.title, formSettings.submit, formSettings.img) }}

{% endblock %}

{% block footer %}
{% from "./src/part/templates/footer.html" import footer %}

<!-- TRUE - LIGHT VERSION FOOTER -->
<!-- {//{// footer(true) }} -->
{{ footer(true) }}
{% endblock %}
