{% extends "src/part/base.html" %}

{% from "./src/part/trainers/trainers_func.html" import trainersHero, titleTrainer, sliderTrainer, dkhts, coach %}
{% from "./src/part/components.html" import formreg %}


{% set title = "Trainers" %}

{% block header %}
{% include "./src/part/templates/header.html" %}
{% endblock %}

{% block content %}

{{ trainersHero() }}

<section class="py-sectionPadding bg-light">
  <div class="px-4">
    <div class="container px-4">
      {{ titleTrainer("тренажерный зал") }}
    </div>
    
    <div class="py-5">
      <!-- Swiper -->
      <div class="swiper mySwiper2 ">
        <div class="swiper-wrapper flex justify-stretch h-full">
          {% set items = [
          {
          "img": "img/trainer-1.png",
          "title":"Екатерина Кайгородцева", 
          "list":[
              {"l1": "восстановление после родов и травм"},
              {"l1": "боли в спине"},
              {"l1": "набор мышечной массы и похудение"},
              {"l1": "мобильность суставов"} 
            ]
          },
          {
          "img": "img/trainer-2.jpg",
          "title":"Александр Овдиенко", 
          "list":[
              {"l1": "Подготовка к соревнованиям"},
              {"l1": "пауэрлифтинг"},
              {"l1": "бодибилдинг"},
              {"l1": "коррекция осанки, набор мышечной массы и похудение"} 
            ]
          },
          {
          "img": "img/trainer-3.jpg",
          "title":"Маргарита Давыдова", 
          "list":[
              {"l1": "набор мышечной массы и похудение"},
              {"l1": "Стретчинг"},
              {"l1": "Составление программ питания"}
            ]
          },
          {
          "img": "img/trainer-1.png",
          "title":"Екатерина Кайгородцева", 
          "list":[
              {"l1": "восстановление после родов и травм"},
              {"l1": "боли в спине"},
              {"l1": "набор мышечной массы и похудение"},
              {"l1": "мобильность суставов"} 
            ]
          },
          {
          "img": "img/trainer-2.jpg",
          "title":"Александр Овдиенко", 
          "list":[
              {"l1": "Подготовка к соревнованиям"},
              {"l1": "пауэрлифтинг"},
              {"l1": "бодибилдинг"},
              {"l1": "коррекция осанки, набор мышечной массы и похудение"} 
            ]
          },
          {
          "img": "img/trainer-3.jpg",
          "title":"Маргарита Давыдова", 
          "list":[
              {"l1": "набор мышечной массы и похудение"},
              {"l1": "Стретчинг"},
              {"l1": "Составление программ питания"}
            ]
          },
          {
          "img": "img/trainer-1.png",
          "title":"Екатерина Кайгородцева", 
          "list":[
              {"l1": "восстановление после родов и травм"},
              {"l1": "боли в спине"},
              {"l1": "набор мышечной массы и похудение"},
              {"l1": "мобильность суставов"} 
            ]
          },
          {
          "img": "img/trainer-2.jpg",
          "title":"Александр Овдиенко", 
          "list":[
              {"l1": "Подготовка к соревнованиям"},
              {"l1": "пауэрлифтинг"},
              {"l1": "бодибилдинг"},
              {"l1": "коррекция осанки, набор мышечной массы и похудение"} 
            ]
          },
          {
          "img": "img/trainer-3.jpg",
          "title":"Маргарита Давыдова", 
          "list":[
              {"l1": "набор мышечной массы и похудение"},
              {"l1": "Стретчинг"},
              {"l1": "Составление программ питания"}
            ]
          }
          ]
          %}
          {{ sliderTrainer(items) }}
        </div>
        <!-- <div class="swiper-pagination"></div> -->
      </div>
    </div>

    <div class="container px-4">
      {{ titleTrainer("фитнес") }}
    </div>
      
    <div class="py-5">
      <!-- Swiper -->
      <div class="swiper mySwiper2">
        <div class="swiper-wrapper flex justify-stretch h-full">
          <!-- "img":'img/trainer-1.png',  -->
          {% set items = [
          {
          "img": "img/trainer-1.png",
          "title":"Екатерина Кайгородцева", 
          "list":[
              {"l1": "восстановление после родов и травм"},
              {"l1": "боли в спине"},
              {"l1": "набор мышечной массы и похудение"},
              {"l1": "мобильность суставов"} 
            ]
          },
          {
          "img": "img/trainer-2.jpg",
          "title":"Александр Овдиенко", 
          "list":[
              {"l1": "Подготовка к соревнованиям"},
              {"l1": "пауэрлифтинг"},
              {"l1": "бодибилдинг"},
              {"l1": "коррекция осанки, набор мышечной массы и похудение"} 
            ]
          },
          {
          "img": "img/trainer-3.jpg",
          "title":"Маргарита Давыдова", 
          "list":[
              {"l1": "набор мышечной массы и похудение"},
              {"l1": "Стретчинг"},
              {"l1": "Составление программ питания"}
            ]
          },
          {
          "img": "img/trainer-1.png",
          "title":"Екатерина Кайгородцева", 
          "list":[
              {"l1": "восстановление после родов и травм"},
              {"l1": "боли в спине"},
              {"l1": "набор мышечной массы и похудение"},
              {"l1": "мобильность суставов"} 
            ]
          },
          {
          "img": "img/trainer-2.jpg",
          "title":"Александр Овдиенко", 
          "list":[
              {"l1": "Подготовка к соревнованиям"},
              {"l1": "пауэрлифтинг"},
              {"l1": "бодибилдинг"},
              {"l1": "коррекция осанки, набор мышечной массы и похудение"} 
            ]
          },
          {
          "img": "img/trainer-3.jpg",
          "title":"Маргарита Давыдова", 
          "list":[
              {"l1": "набор мышечной массы и похудение"},
              {"l1": "Стретчинг"},
              {"l1": "Составление программ питания"}
            ]
          },
          {
          "img": "img/trainer-1.png",
          "title":"Екатерина Кайгородцева", 
          "list":[
              {"l1": "восстановление после родов и травм"},
              {"l1": "боли в спине"},
              {"l1": "набор мышечной массы и похудение"},
              {"l1": "мобильность суставов"} 
            ]
          },
          {
          "img": "img/trainer-2.jpg",
          "title":"Александр Овдиенко", 
          "list":[
              {"l1": "Подготовка к соревнованиям"},
              {"l1": "пауэрлифтинг"},
              {"l1": "бодибилдинг"},
              {"l1": "коррекция осанки, набор мышечной массы и похудение"} 
            ]
          },
          {
          "img": "img/trainer-3.jpg",
          "title":"Маргарита Давыдова", 
          "list":[
              {"l1": "набор мышечной массы и похудение"},
              {"l1": "Стретчинг"},
              {"l1": "Составление программ питания"}
            ]
          }
          ]
          %}
          {{ sliderTrainer(items) }}
        </div>
        <!-- <div class="swiper-pagination"></div> -->
      </div>
    </div>
    
    <div class="container px-4 my-8">
      {{ titleTrainer("аква-зона") }}
    </div>
      
    <div class="py-5">
      <!-- Swiper -->
      <div class="swiper mySwiper2">
        <div class="swiper-wrapper flex justify-stretch h-full">
          <!-- "img":'img/trainer-1.png',  -->
          {% set items = [
          {
          "img": "img/trainer-1.png",
          "title":"Екатерина Кайгородцева", 
          "list":[
              {"l1": "восстановление после родов и травм"},
              {"l1": "боли в спине"},
              {"l1": "набор мышечной массы и похудение"},
              {"l1": "мобильность суставов"} 
            ]
          },
          {
          "img": "img/trainer-2.jpg",
          "title":"Александр Овдиенко", 
          "list":[
              {"l1": "Подготовка к соревнованиям"},
              {"l1": "пауэрлифтинг"},
              {"l1": "бодибилдинг"},
              {"l1": "коррекция осанки, набор мышечной массы и похудение"} 
            ]
          },
          {
          "img": "img/trainer-3.jpg",
          "title":"Маргарита Давыдова", 
          "list":[
              {"l1": "набор мышечной массы и похудение"},
              {"l1": "Стретчинг"},
              {"l1": "Составление программ питания"}
            ]
          },
          {
          "img": "img/trainer-1.png",
          "title":"Екатерина Кайгородцева", 
          "list":[
              {"l1": "восстановление после родов и травм"},
              {"l1": "боли в спине"},
              {"l1": "набор мышечной массы и похудение"},
              {"l1": "мобильность суставов"} 
            ]
          },
          {
          "img": "img/trainer-2.jpg",
          "title":"Александр Овдиенко", 
          "list":[
              {"l1": "Подготовка к соревнованиям"},
              {"l1": "пауэрлифтинг"},
              {"l1": "бодибилдинг"},
              {"l1": "коррекция осанки, набор мышечной массы и похудение"} 
            ]
          },
          {
          "img": "img/trainer-3.jpg",
          "title":"Маргарита Давыдова", 
          "list":[
              {"l1": "набор мышечной массы и похудение"},
              {"l1": "Стретчинг"},
              {"l1": "Составление программ питания"}
            ]
          },
          {
          "img": "img/trainer-1.png",
          "title":"Екатерина Кайгородцева", 
          "list":[
              {"l1": "восстановление после родов и травм"},
              {"l1": "боли в спине"},
              {"l1": "набор мышечной массы и похудение"},
              {"l1": "мобильность суставов"} 
            ]
          },
          {
          "img": "img/trainer-2.jpg",
          "title":"Александр Овдиенко", 
          "list":[
              {"l1": "Подготовка к соревнованиям"},
              {"l1": "пауэрлифтинг"},
              {"l1": "бодибилдинг"},
              {"l1": "коррекция осанки, набор мышечной массы и похудение"} 
            ]
          },
          {
          "img": "img/trainer-3.jpg",
          "title":"Маргарита Давыдова", 
          "list":[
              {"l1": "набор мышечной массы и похудение"},
              {"l1": "Стретчинг"},
              {"l1": "Составление программ питания"}
            ]
          }
          ]
          %}
          {{ sliderTrainer(items) }}
        </div>
        <!-- <div class="swiper-pagination"></div> -->
      </div>
    </div>

  </div>
</section>

<section class="py-sectionPadding px-4 bg-light">
  <div class="container">
    {{ dkhts() }}    
    {{ coach() }}
  </div>
</section>

<!-- Форма записи -->
{% set formSettings = {
  "title": "ТВОЙ ТРЕНЕР УЖЕ ЖДЕТ!",
  "submit": "СТАТЬ БЛИЖЕ К СВОЕЙ ЦЕЛИ",
  "img": "/img/pool-contact.png"
} %}
{{ formreg(formSettings.title, formSettings.submit, formSettings.img) }}

{% endblock %}


{% block footer %}

{% from "./src/part/templates/footer.html" import footer %}

<!-- TRUE - LIGHT VERSION FOOTER -->
<!-- {//{// footer(true) }} -->
{{ footer(true) }}

{% endblock %}
